<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="TopfilmMaMa/bootstrap-5.3.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="TopfilmMaMa/css/base.css">
    <title>Top Film</title>
    <script src="TopfilmMaMa/js/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
   
    <section class="mymaincontainer bg-dark">
      <div class="container ">
        <div class="title text-white py-4 d-flex justify-content-center" style="font-size: 30px;"><b>Top Phim Hay Trên   </b><span style="color: #EB2F96; font-size: 30px;"><b> MoMo</b></span></div>
        <div class="nd text-white d-flex justify-content-center">Danh sách phim hay được ưa chuộng trên MoMo được cập nhật liên tục với đa dạng <br></div>
        <div class="nd text-white d-flex justify-content-center">các thể loại, quốc gia.</div>
        <div class="row py-5">
          <div class="col-md-4">
            <a href="">
              <img src="TopfilmMaMa/images/2.jpg" alt="" style="max-width: 350px; max-height: 250px;">
              <img src="TopfilmMaMa/images/4.jpg"style="max-width: 350px; max-height: 250px;" alt=""> <br>
              <h3 class="mt-3 cursor-pointer font-bold leading-tight group-hover:underline   md:mt-3  text-white text-xl">Top phim kinh dị Thái 2023 gây ám ảnh bậc nhất</h3>
              <p class="mt-2 break-words text-sm text-gray-300 line-clamp-2">Cùng MoMo điểm qua Top phim kinh dị Thái Lan năm 2023 sẽ khiến bạn khiếp sợ và mang nhiều cảm xúc...</p>
              <div class="mt-3   items-center space-x-1.5 text-xs text-gray-400"><span>13/06/2023 </span><span>.  </span><span>265 lượt xem</span></div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="TopfilmMaMa/images/7.jpg" alt="" style="max-width: 350px; max-height: 250px;">
              <img src="TopfilmMaMa/images/9.jpg"style="max-width: 350px; max-height: 250px;" alt=""> <br>
              <h3 class="mt-3 cursor-pointer font-bold leading-tight group-hover:underline   md:mt-3  text-white text-xl">Top phim siêu anh hùng năm 2023 đáng được mong đợi</h3>
              <p class="mt-2 break-words text-sm text-gray-300 line-clamp-2">Siêu anh hùng luôn là đề tài được các nhà làm phim nung nấu nhiều ý tưởng và khai thác triệt để. Cùng...</p>
              <div class="mt-3   items-center space-x-1.5 text-xs text-gray-400"><span>13/06/2023 </span><span>.  </span><span>265 lượt xem</span></div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="TopfilmMaMa/images/16.jpg" alt="" style="max-width: 350px; max-height: 250px;">
              <img src="TopfilmMaMa/images/213123.jpg"style="max-width: 350px; max-height: 250px;" alt=""> <br>
              <h3 class="mt-3 cursor-pointer font-bold leading-tight group-hover:underline   md:mt-3  text-white text-xl">Top 14 phim hành động viễn tưởng 2023 lôi cuốn và hấp dẫn</h3>
              <p class="mt-2 break-words text-sm text-gray-300 line-clamp-2">Năm 2023 đã chứng kiến sự trỗi dậy mạnh mẽ của thể loại phim hành động viễn tưởng với những tác phẩm...</p>
              <div class="mt-3   items-center space-x-1.5 text-xs text-gray-400"><span>13/06/2023 </span><span>.  </span><span>265 lượt xem</span></div>
            </a>
          </div>
          
        </div>
      </div>
    </section>
    <section class="mymain">
      <div class="container">
      <div class="row">
        <div class="col-md-8 py-5">
          <div class="row py-2">
            <div class="col-md-2 fs-3  text-end">
              <img src="TopfilmMaMa/images/16.jpg" style="max-width: 185px; max-height: 140px;" alt="">
            </div>
            <div class="col-md-10">
            <h4 class="transitio-all cursor-pointer text-lg font-bold leading-tight text-gray-700 duration-200 hover:underline md:text-lg md:leading-tight ">Danh sách phim hành động 2023 được khán giả đánh giá cao</h4>
          </a><p class=" mt-2 text-sm font-light text-gray-600 line-clamp-2 sm:line-clamp-3 md:text-sm ">Cùng MoMo đón xem danh sách phim hành động 2023 mãn nhãn và được khán giả đánh giá cao nhất trong thời gian gần đây</p><div class="mt-3 flex items-center space-x-1.5 text-xs text-gray-500"><span>13/06/2023 </span><span>·</span><span>166 lượt xem</span></div></div></div>
          
          <div class="row py-2">
            <div class="col-md-2 fs-3  text-end">
              <img src="TopfilmMaMa/images/11111.jpg" style="max-width: 185px; max-height: 140px;" alt="">
            </div>
            <div class="col-md-10">
            <h4 class="transitio-all cursor-pointer text-lg font-bold leading-tight text-gray-700 duration-200 hover:underline md:text-lg md:leading-tight ">Top phim điện ảnh hàn quốc 2023 đáng chờ đón</h4>
          </a><p class=" mt-2 text-sm font-light text-gray-600 line-clamp-2 sm:line-clamp-3 md:text-sm ">Top phim điện ảnh Hàn Quốc 2023 không chỉ mang lại cho khán giả những câu chuyện đầy cảm xúc và tình huống hấp dẫn mà còn thể hiện sự đa dạng trong thể loại và chất lượng sản xuất.</p><div class="mt-3 flex items-center space-x-1.5 text-xs text-gray-500"><span>13/06/2023 </span><span>·</span><span>166 lượt xem</span></div></div></div>
          <div class="row py-2">
            <div class="col-md-2 fs-3  text-end">
              <img src="TopfilmMaMa/images/haihaha.jpg" style="max-width: 185px; max-height: 140px;" alt="">
            </div>
            <div class="col-md-10">
            <h4 class="transitio-all cursor-pointer text-lg font-bold leading-tight text-gray-700 duration-200 hover:underline md:text-lg md:leading-tight ">Top phim hài 2023 khiến bạn không thể nhịn cười</h4>
          </a><p class=" mt-2 text-sm font-light text-gray-600 line-clamp-2 sm:line-clamp-3 md:text-sm ">Năm 2023 đã là một năm đặc biệt với hàng loạt bộ phim hài đầy hài hước và sáng tạo, mang lại cho khán giả những khoảnh khắc thú vị và giải trí đáng nhớ.</p><div class="mt-3 flex items-center space-x-1.5 text-xs text-gray-500"><span>13/06/2023 </span><span>·</span><span>166 lượt xem</span></div></div></div>
          <div class="row py-2">
            <div class="col-md-2 fs-3  text-end">
              <img src="TopfilmMaMa/images/1231233.jpg" style="max-width: 185px; max-height: 140px;" alt="">
            </div>
            <div class="col-md-10">
            <h4 class="transitio-all cursor-pointer text-lg font-bold leading-tight text-gray-700 duration-200 hover:underline md:text-lg md:leading-tight ">Top phim hoạt hình 2023 xuất sắc nhất từ đầu năm đến nay (P1)</h4>
          </a><p class=" mt-2 text-sm font-light text-gray-600 line-clamp-2 sm:line-clamp-3 md:text-sm ">Cùng MoMo đón xem danh sách phim hành động 2023 mãn nhãn và được khán giả đánh giá cao nhất trong thời gian gần đây</p><div class="mt-3 flex items-center space-x-1.5 text-xs text-gray-500"><span>13/06/2023 </span><span>·</span><span>166 lượt xem</span></div></div></div>
          <div class="row py-2">
            <div class="col-md-2 fs-3  text-end">
              <img src="TopfilmMaMa/images/17.jpg" style="max-width: 185px; max-height: 140px;" alt="">
            </div>
            <div class="col-md-10">
            <h4 class="transitio-all cursor-pointer text-lg font-bold leading-tight text-gray-700 duration-200 hover:underline md:text-lg md:leading-tight ">Danh sách phim hành động 2023 được khán giả đánh giá cao</h4>
          </a><p class=" mt-2 text-sm font-light text-gray-600 line-clamp-2 sm:line-clamp-3 md:text-sm ">Cùng MoMo đón xem danh sách phim hành động 2023 mãn nhãn và được khán giả đánh giá cao nhất trong thời gian gần đây</p><div class="mt-3 flex items-center space-x-1.5 text-xs text-gray-500"><span>13/06/2023 </span><span>·</span><span>166 lượt xem</span></div></div></div>
       
        </div>
        <div class="col-md-4 py-5">
          <h4 class=" pb-2 text-left text-lg font-bold text-gray-800">Phim Đang Chiếu</h4>
          <div class="row">
            <div class="col-md-2">
              <img src="TopfilmMaMa/images/aa.jpg"  style="max-width: 64px; max-height: 120px;">
            </div>
            <div class="col-md-10">
              <div class=" h-5  rounded-sm bg-opacity-80 px-1  text-xs font-semibold text-black bg-warning" style="max-width: 40px;">16+</div>
              <a class="text-md text-black font-semibold leading-tight text-gray-800" >Nhiệm Vụ Bất Khả Thi 7: Nghiệp Báo Phần 1</a>
              <div class="mt-1 text-tiny leading-tight text-gray-500">Phiêu Lưu, Gây Cấn</div>
              <div class="mt-1 flex items-center text-tiny text-gray-600"><i class="fa-regular fa-star"></i><span> 8.8</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="TopfilmMaMa/images/con.jpg"  style="max-width: 64px; max-height: 120px;">
            </div>
            <div class="col-md-10">
              <div class=" h-5  rounded-sm bg-opacity-80 px-1  text-xs font-semibold text-black bg-warning" style="max-width: 40px;">19+</div>
              <a class="text-md text-black font-semibold leading-tight text-gray-800" >Thám Tử Lừng Danh Conan 26: Tàu Ngầm Sắt</a>
              <div class="mt-1 text-tiny leading-tight text-gray-500">Phiêu Lưu, Gây Cấn</div>
              <div class="mt-1 flex items-center text-tiny text-gray-600"><i class="fa-regular fa-star"></i><span> 8.8</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="TopfilmMaMa/images/ccc.jpg"  style="max-width: 64px; max-height: 120px;">
            </div>
            <div class="col-md-10">
              <div class=" h-5  rounded-sm bg-opacity-80 px-1  text-xs font-semibold text-black bg-warning" style="max-width: 40px;">16+</div>
              <a class="text-md text-black font-semibold leading-tight text-gray-800" >Xứ Sở Các Nguyên Tố</a>
              <div class="mt-1 text-tiny leading-tight text-gray-500">Hài, Hoạt Hình</div>
              <div class="mt-1 flex items-center text-tiny text-gray-600"><i class="fa-regular fa-star"></i><span> 8.8</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="TopfilmMaMa/images/ww.jpg"  style="max-width: 64px; max-height: 120px;">
            </div>
            <div class="col-md-10">
              <div class=" h-5  rounded-sm bg-opacity-80 px-1  text-xs font-semibold text-black bg-warning" style="max-width: 40px;">16+</div>
              <a class="text-md text-black font-semibold leading-tight text-gray-800" >Trăm Năm Hạnh Phúc</a>
              <div class="mt-1 text-tiny leading-tight text-gray-500">Hài, Lãng Mạn</div>
              <div class="mt-1 flex items-center text-tiny text-gray-600"><i class="fa-regular fa-star"></i><span> 8.8</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="TopfilmMaMa/images/q.jpg"  style="max-width: 64px; max-height: 120px;">
            </div>
            <div class="col-md-10">
              <div class=" h-5  rounded-sm bg-opacity-80 px-1  text-xs font-semibold text-black bg-warning" style="max-width: 40px;">16+</div>
              <a class="text-md text-black font-semibold leading-tight text-gray-800" >Quỷ Quyệt: Cửa Đỏ Vô Định</a>
              <div class="mt-1 text-tiny leading-tight text-gray-500">Phiêu Lưu, Gây Cấn</div>
              <div class="mt-1 flex items-center text-tiny text-gray-600"><i class="fa-regular fa-star"></i><span> 8.8</span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="TopfilmMaMa/images/qd.jpg"  style="max-width: 64px; max-height: 120px;">
            </div>
            <div class="col-md-10">
              <div class=" h-5  rounded-sm bg-opacity-80 px-1  text-xs font-semibold text-black bg-warning" style="max-width: 40px;">16+</div>
              <a class="text-md text-black font-semibold leading-tight text-gray-800" >Quỷ Dữ</a>
              <div class="mt-1 text-tiny leading-tight text-gray-500">Chính kịch</div>
              <div class="mt-1 flex items-center text-tiny text-gray-600"><i class="fa-regular fa-star"></i><span> 8.8</span></div>
            </div>
          </div>
        </div>
        </div>
        <div class="title2" style=" max-width: 900px; margin: 0 auto;">
        <h2 class="d-flex justify-content-center py-5" style="color: #D81D8B;">Khám phá Top Phim Hay - Trải nghiệm không thể bỏ qua!</h2>
        <div class=" soju__prose small service-page-long-content  "><p>
          "Top phim hay" là một thuật ngữ để chỉ đến danh sách hoặc bảng xếp hạng các bộ phim được đánh giá cao về chất lượng, nghệ thuật, diễn xuất, kịch bản và/hoặc giải trí. Nó thường dựa trên sự đánh giá của khán giả, nhà phê bình hoặc các tổ chức điện ảnh uy tín.
        </p><p>
          Tuy "Top phim hay" là một khái niệm tương đối và có thể thay đổi theo thời gian và từng nguồn đánh giá, nhưng một số danh sách phim nổi tiếng như "100 phim hay nhất mọi thời đại" của American Film Institute (AFI) hoặc "IMDb Top 250" (dựa trên đánh giá của cộng đồng người dùng trên IMDb) có thể được coi là ví dụ cho "top phim hay".&nbsp;
        </p><p>
          Chính vì vậy, với đông đảo người dùng sử dụng siêu ứng dụng MoMo để đặt vé xem phim, đánh giá phim thì MoMo xin phép được tổng hợp và liệt kê ra những danh sách phim hay được đánh giá tốt nhất với đầy đủ các thể loại, quốc gia cũng như chất lượng của mỗi bộ phim.
        </p><div class="jsx-df4f07e142feb149 mt-3 text-center py-2"></div>
      </div></div>
        
        
        
    
    </div>
    </section>
    <script src="bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js">

    </script>
</body>
</html>