<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet"
	href="ShowtimeMovie/bootstrap-icons-1.10.3/bootstrap-icons.css">
<link rel="stylesheet" href="ShowtimeMovie/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/style.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/stle.css">
<link rel="stylesheet" type="text/css"
	href="ShowtimeMovie/csss/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="ShowtimeMovie/csss/font-awesome.css">
<link rel="stylesheet" href="ShowtimeMovie/csss/templatemo-hexashop.css">
<link rel="stylesheet" href="ShowtimeMovie/csss/owl-carousel.css">
<link href="ShowtimeMovie/cssr/bootstrap.min.css" rel="stylesheet">




<link
	href="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">



</head>

<body>
	<style>
.button1 {
	background-color: white;
	color: black;
	border: 1px solid #111111;
	border-radius: 5px;
}
</style>
    <main>
	<section class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<div class="breadcrumb__links">
							<a href="./index.html"><i class="bi bi-house-door-fill"></i></a>
							<a href="./index.html">Rạp phim</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="breadcrumb-optionn">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<div class="row">
							<div class="col-lg-6 col-6">
								<h2>
									<strong>Lịch chiếu phim tháng 8/2023 trên Mama</strong>
								</h2>
								<h6>
									<i class="bi bi-check-all"></i>Lịch phim đang chiếu luôn <strong>được
										cập nhật mới nhất</strong>
								</h6>
								<h6>
									<i class="bi bi-check-all"></i><strong>Suất phim đang
										chiếu dầy đủ </strong>các rạp
								</h6>
								<h6>
									<i class="bi bi-check-all"></i>Đặt phim đang chiếu <strong>siêu
										nhanh</strong>
								</h6>
								<h6>
									<i class="bi bi-check-all"></i> <strong>Đặt vé lịch
										phim đang chiếu</strong> yêu thích mọi nơi
								</h6>
							</div>
							<div class="col-lg-6 col-6">
								<img src="ShowtimeMovie/img/momo.jpg" alt="">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section-title mt-2">
		<h2 style="color: rgb(238, 17, 153);">Phim sắp chiếu</h2>
	</div>
	<section class="Am-img-slider-container">
		<div class="swiper blog-slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="blog-slider__imgs">

						<img class="back-image" alt="" src="ShowtimeMovie/img/Conan.jpg" />
						<div class="movie-image-container">

							<img class="movie-image  blog-slider__img" alt=""
								src="ShowtimeMovie/img/Conan.jpg" />
							<div class="overly">
								<a href="#" title="-1"> <svg
										xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
										preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="currentColor"
											d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z" />
                                    </svg>
								</a>

							</div>
						</div>
					</div>
					<div class="blog-slider__content">
						<h2 class="blog-slider__title" style="color: white;">Thám tử
							lừng danh Conan 26 : Tàu Ngầm Sắt Màu Đen</h2>
						<p class="blog-slider__text">Hoạt hình,hình sự,bí ẩn,hành động</p>
						<span class="blog-slider__rate"> IMDB 9.4/10 </span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="blog-slider__imgs">
						<img class="back-image" alt=""
							src="https://upload.wikimedia.org/wikipedia/en/a/a9/EndlessLove2014Poster.jpg" />
						<div class="movie-image-container">

							<img class="movie-image  blog-slider__img" alt=""
								src="https://upload.wikimedia.org/wikipedia/en/a/a9/EndlessLove2014Poster.jpg" />
							<div class="overly">
								<a href="#" title="-1"> <svg
										xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
										preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="currentColor"
											d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z" />
                                    </svg>
								</a>

							</div>
						</div>
					</div>
					<div class="blog-slider__content">
						<h2 class="blog-slider__title">Endless Love 2014</h2>
						<p class="blog-slider__text">Lorem ipsum dolor sit amet
							consectetur adipisicing elit. Atque, illum odit? Odit ipsum enim
							sapiente eius, ad numqure.</p>
						<span class="blog-slider__rate"> IMDB 7.5/10 </span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="blog-slider__imgs">
						<img class="back-image" alt=""
							src="https://s3.amazonaws.com/static.rogerebert.com/uploads/movie/movie_poster/endless-2020/large_endless-poster.jpg" />
						<div class="movie-image-container">

							<img class="movie-image  blog-slider__img" alt=""
								src="https://s3.amazonaws.com/static.rogerebert.com/uploads/movie/movie_poster/endless-2020/large_endless-poster.jpg" />
							<div class="overly">
								<a href="#" title="-1"> <svg
										xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
										preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="currentColor"
											d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z" />
                                    </svg>
								</a>

							</div>
						</div>
					</div>
					<div class="blog-slider__content">
						<h2 class="blog-slider__title">endless 2020</h2>
						<p class="blog-slider__text">Lorem ipsum dolor, sit amet consm
							dolor, sit amet consectetur adipisilo natus.ectetur adipisilo
							natus.</p>
						<span class="blog-slider__rate"> IMDB 3.7/10 </span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="blog-slider__imgs">
						<img class="back-image" alt=""
							src="https://flxt.tmsimg.com/assets/p16919037_p_v8_aa.jpg" />
						<div class="movie-image-container">

							<img class="movie-image  blog-slider__img" alt=""
								src="https://flxt.tmsimg.com/assets/p16919037_p_v8_aa.jpg" />
							<div class="overly">
								<a href="#" title="-1"> <svg
										xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
										preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="currentColor"
											d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z" />
                                    </svg>
								</a>

							</div>
						</div>
					</div>
					<div class="blog-slider__content">
						<h2 class="blog-slider__title">Underwater 2020</h2>
						<p class="blog-slider__text">Lorem ipsum dolor, sit amet consm
							dolor, sit amet consectetur adipisilo natus.ectetur adipisilo
							natus.</p>
						<span class="blog-slider__rate"> IMDB 3.7/10 </span>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="blog-slider__imgs">
						<img class="back-image  blog-slider__backimg" alt=""
							src="https://www.brhspawprint.com/wp-content/uploads/2020/10/61idSH9iPTL._AC_SY741_.jpg" />
						<div class="movie-image-container">

							<img class="movie-image  blog-slider__img" alt=""
								src="https://www.brhspawprint.com/wp-content/uploads/2020/10/61idSH9iPTL._AC_SY741_.jpg" />
							<div class="overly">
								<a href="#" title="-3"> <svg
										xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
										preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="currentColor"
											d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18a1 1 0 0 0 0-1.69L9.54 5.98A.998.998 0 0 0 8 6.82z" />
                                    </svg>
								</a>

							</div>
						</div>
					</div>
					<div class="blog-slider__content">
						<h2 class="blog-slider__title">Mulan 2020</h2>
						<p class="blog-slider__text">Lorem ipsum dolor, sit amet consm
							dolor, sit amet consectetur adipisilo natus.ectetur adipisilo
							natus.</p>
						<span class="blog-slider__rate"> IMDB 3.7/10 </span>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="trending__product">
						<div class="row">
							<div class="col-lg-6 col-md-8 col-sm-8">
								<div class="section-title">
									<h4 style="color: rgb(238, 17, 153);">Tìm kiếm phim chiếu
										rạp trên MaMa</h4>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/Conan.jpg" >
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Hài</li>
									<li style="font-size: small;">Hoạt Hình</li>
								</ul>
								<h5>
									<a href="#">Thám tử lừng danh Conan 26 : Con tàu ngầm sắt đen</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/NhaBN.jpg" style="width:85%">
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Hài</li>
								</ul>
								<h5>
									<a href="#">Nhà Bà Nữ</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/AVT.jpg">
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Hành Động</li>
									<li style="font-size: small;">Viễn Tưởng</li>
								</ul>
								<h5>
									<a href="#">Avatar: Dòng Chảy Của Nước</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/SSM.jpg" style="width:85%">
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Viễn Tưởng</li>
									<li style="font-size: small;">Hoạt Hình</li>
								</ul>
								<h5>
									<a href="#">Khóa Chặt Cửa Nào Suzume</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/CCEE.jpg" style="width:85%">
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Tình Cảm</li>
									<li style="font-size: small;">Drama</li>
								</ul>
								<h5>
									<a href="#">Chị Chị Em Em 2</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/CKTT.jpg">
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Hài</li>
								</ul>
								<h5>
									<a href="#">Chìa Khóa Trăm Tỷ</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/CMGN.jpg" style="width:85%">
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Kinh Dị</li>
									<li style="font-size: small;">Tâm Linh</li>
								</ul>
								<h5>
									<a href="#">Chuyện Ma Gần Nhà</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<img alt="" src="ShowtimeMovie/img/TCC.jpg" style="width:85%">
							<div class="product__item__textt">
									<ul>
									<li style="font-size: small;">Kinh Dị</li>
									<li style="font-size: small;">Chính Trị</li>
								</ul>
								<h5>
									<a href="#">Tà Chú Cấm</a>
								</h5>
							</div>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="product__pagination">
							<a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
							<span>...</span> <a href="#">21</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</section>
	<link rel="stylesheet" href="ShowtimeMovie/css/stle.css">
<link rel="stylesheet" href="ShowtimeMovie/css/styy.css" type="text/css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	<link rel="stylesheet"
		href="ShowtimeMovie/bootstrap-icons-1.10.3/bootstrap-icons.css">
	<script src="ShowtimeMovie/js/jquery-3.3.1.min.js"></script>
	<script src="ShowtimeMovie/js/bootstrap.min.js"></script>
	<script src="ShowtimeMovie/js/jquery.nice-select.min.js"></script>
	<script src="ShowtimeMovie/js/jquery.nicescroll.min.js"></script>
	<script src="ShowtimeMovie/js/jquery.magnific-popup.min.js"></script>
	<script src="ShowtimeMovie/js/jquery.countdown.min.js"></script>
	<script src="ShowtimeMovie/js/jquery.slicknav.js"></script>
	<script src="ShowtimeMovie/js/mixitup.min.js"></script>
	<script src="ShowtimeMovie/js/owl.carousel.min.js"></script>
	<script src="ShowtimeMovie/js/main.js"></script>
	<script src="ShowtimeMovie/js/jquery-2.1.0.min.js"></script>
	<script src="ShowtimeMovie/js/bootstrap.bundle.min.js"></script>
	<script src="ShowtimeMovie/js/angular-route.min.js"></script>
	<script src="ShowtimeMovie/js/angular.min.js"></script>
	<script src="ShowtimeMovie/js/jquery.min.js"></script>
	<script src="ShowtimeMovie/js/popper.min.js"></script>
	<script src="ShowtimeMovie/js/plugin.js"></script>

	<!-- Bootstrap -->
	<!-- javascript -->
	<script src="ShowtimeMovie/js/owl.carousel.js"></script>
	<script
		src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	<script src="ShowtimeMovie/jss/owl-carousel.js"></script>
	<script src="ShowtimeMovie/jss/accordions.js"></script>
	<script src="ShowtimeMovie/jss/datepicker.js"></script>
	<script src="ShowtimeMovie/jss/scrollreveal.min.js"></script>
	<script src="ShowtimeMovie/jss/waypoints.min.js"></script>
	<script src="ShowtimeMovie/jss/jquery.counterup.min.js"></script>
	<script src="ShowtimeMovie/jss/imgfix.min.js"></script>
	<script src="ShowtimeMovie/jss/slick.js"></script>
	<script src="ShowtimeMovie/jss/lightbox.js"></script>
	<script src="ShowtimeMovie/jss/isotope.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<script src="ShowtimeMovie/js/stle.js"></script>
	<script src="ShowtimeMovie/js/main.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
 </main>
</body>

</html>