<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet"
	href="ShowtimeMovie/bootstrap-icons-1.10.3/bootstrap-icons.css">
<link rel="stylesheet" href="ShowtimeMovie/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="ShowtimeMovie/css/style.css"
	type="text/css">
<link rel="stylesheet" type="text/css"
	href="ShowtimeMovie/csss/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="ShowtimeMovie/csss/font-awesome.css">
<link rel="stylesheet" href="ShowtimeMovie/csss/templatemo-hexashop.css">
<link rel="stylesheet" href="ShowtimeMovie/csss/owl-carousel.css">
<link href="ShowtimeMovie/cssr/bootstrap.min.css" rel="stylesheet">
<link
	href="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
<style>
.scrollbar {
	float: left;
	height: 600px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}

.button2:hover {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24), 1px 1px 1px 1px
		rgba(0, 0, 0, 0.19);
}

.map-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
</style>
</head>

<body>
	<main>
		<script type="text/javascript">
			let host = "http://localhost:8080/rest/cinemas";
			const app = angular.module("app",[]);
				app.controller("ctrl",function($scope,$http){
				
    			$scope.cinemas = [];
    
				$scope.searchAddress = function(address){
					$scope.cinemas = [];
					var url=`${host}`;
        			$http.get(url).then(resp => {
						var items = [];
            		 	items = resp.data;
						var Address = "Hồ Chí Minh";
						 if(address!=''){
							 Address  = address;
						 }
						document.getElementById("showAddress").innerHTML = Address;
						for(let i of items){
							if(i.address.includes(Address)){
								$scope.cinemas.push(i);
								console.log("Success",resp);
							};
						}
        			}).catch(error => {
            			console.log("Error",error)
       		 		});					
				}   
    		$scope.searchAddress('');
		});
		</script>
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<div class="breadcrumb__links">
								<a href="./index.html"><i class="bi bi-house-door-fill"></i></a>
								<a href="./index.html">Rạp phim</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="breadcrumb-optionn">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<div class="row">
								<div class="col-lg-6 col-6">
									<h2>
										<strong>Lịch chiếu phim tháng 7/2023 trên Mama</strong>
									</h2>
									<h6>
										<i class="bi bi-check-all"></i>Lịch phim đang chiếu luôn <strong>được
											cập nhật mới nhất</strong>
									</h6>
									<h6>
										<i class="bi bi-check-all"></i><strong>Suất phim đang
											chiếu dầy đủ </strong>các rạp
									</h6>
									<h6>
										<i class="bi bi-check-all"></i>Đặt phim đang chiếu <strong>siêu
											nhanh</strong>
									</h6>
									<h6>
										<i class="bi bi-check-all"></i> <strong>Đặt vé lịch
											phim đang chiếu</strong> yêu thích mọi nơi
									</h6>
								</div>
								<div class="col-lg-6 col-6">
									<img src="ShowtimeMovie/img/momo.jpg" alt="">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<section ng-app="app" ng-controller="ctrl">
			<div class="shop-details">
				<div class="product__details__pic">
					<h2 style="color: rgb(233, 64, 148);" class="mb-3">
						<strong>Tìm rạp chiếu phim Mama</strong>
					</h2>
					<div class="col-lg-12 row">
						<div class="col-lg-3"></div>
						<div class="card col-lg-6">
							<div class=" p-2 row">
								<h4 class="p-1" style="width: 110px;">Vị trí</h4>
								<button type="button" class="btn btn-outline-danger mr-2 "
									id="showAddress" style="width: 150px; height: 40px;"
									data-bs-toggle="modal" data-bs-target="#exampleModal">
									<i class="bi bi-geo-alt"></i> Hồ Chí Minh
								</button>
							</div>
							<div class="p-2 ml-2 row " style="height: 100px;">
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/logoQT.png" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 p-1">Tất cả</h6>
									</a>

								</div>

								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/CGVlogo.jpg" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 p-1">CGV</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/GLXlogo.webp" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 mt-1">Galaxy</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/LTlogo.webp" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 p-1">Lotte</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/BHDlogo.webp" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 p-1">BHD</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/logoQT.png" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 p-1">Beta</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/CineStarlogo.webp" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 mt-1">Cinesta</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/Megalogo.webp" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100 p-1">Mega GS</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/DcineLogo.webp" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100">DCINE</h6>
									</a>

								</div>
								<div class=" col-sm-1 card border border-white"
									style="height: 70px;">
									<a href="#" class="card-header h-75 p-1 "
										style="border: 1px solid rgb(235, 5, 101); border-radius: 5px;"><img
										class="img-fuid w-100 h-100 m-0"
										src="ShowtimeMovie/img/Cinemaxlogo.webp" alt=""></a> <a href=""
										class="card-body p-0 border border-white">
										<h6 style="color: rgb(245, 37, 134); font-size: small;"
											class="w-100">Cinema</h6>
									</a>

								</div>
							</div>
							<div class="col-lg-12 row scrollbar" style="text-align: left;">
								<div class=" border-top  shop__sidebar__search ">
									<form class="mt-1">
										<input type="text" placeholder="Tìm kiếm theo tên"
											ng-model="search">
										<button type="submit">
											<span class="icon_search"></span>
										</button>
									</form>
									<form class="list-group mt-2 "
										ng-repeat="cinema in cinemas| filter:search" action="/cinemaWithAddress">
										<div class="list-group-item list-group-item-action "
											style="height: 80px;">
											<button class="row col-lg-12" style="text-align: left;" type="submit">
												<div class="col-lg-2 " style="width: 80px; height: 60px; margin-top: 9px;">
													 <img class="img-thumbnail"
														src="ShowtimeMovie/img/logoQT.png" alt=""
														style="height: 100%; width: 100%;">
												</div>
												<div class="col-lg-8">
													<input name="cinemaId" value="{{cinema.cinemaid}}" hidden>
													<h6><strong>{{cinema.name}}</strong></h6>
													<p style="width: 100%;font-size:small">{{cinema.address}}</p>
												</div>
												<div class="col-lg-1 p-0 mt-4" style="text-align: right;">
													<a href="" data-bs-toggle="modal"
														data-bs-target="#exampleModal1">[Bản đồ] </a>
												</div>
												<div class="col-lg-1 mt-4" style="text-align: right;">
												<i class="bi bi-chevron-compact-right" style="margin-left: 150%; font-size: large;"></i>
													
												</div>
											</button>
										</div>									
									</form>
								</div>

							</div>
							<div class="modal fade" id="exampleModal" tabindex="-1"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-scrollable modal-lg">
									<div class="modal-content">
										<div class="modal-header mt-3">
                                        <h2 class="modal-title" id="exampleModalLabel">Chọn địa điểm</h2>
                                        <div class="shop__sidebar__search">
                                            <form action="#" class="mt-5">
                                                <input type="text" placeholder="Search...">
                                                <button type="submit"><span class="icon_search"></span></button>
                                            </form>
                                        </div>
                                    </div>
										<div class="modal-body row ">
											<table class="table h-50 border-white">
												<tbody>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hồ Chí Minh')"
												data-bs-dismiss="modal">Hồ Chí Minh</button></td>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hà Nội')"
												data-bs-dismiss="modal">Hà Nội</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Đà Nẵng')"
												data-bs-dismiss="modal">Đà Nẵng</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Cần Thơ')"
												data-bs-dismiss="modal">Cần Thơ</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Đồng Tháp')"
												data-bs-dismiss="modal">Đồng Tháp</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hải Phòng')"
												data-bs-dismiss="modal">Hải Phòng</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hậu Giang')"
												data-bs-dismiss="modal">Hậu Giang</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Kiên Giang')"
												data-bs-dismiss="modal">Kiên Giang</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Sóc Trăng')"
												data-bs-dismiss="modal">Sóc Trăng</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Tiền Giang')"
												data-bs-dismiss="modal">Tiền Giang</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Trà Vinh')"
												data-bs-dismiss="modal">Trà Vinh</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Đồng Nai')"
												data-bs-dismiss="modal">Đồng Nai</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Lạng Sơn')"
												data-bs-dismiss="modal">Lạng Sơn</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bình Dương')"
												data-bs-dismiss="modal">Bình Dương</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('An Giang')"
												data-bs-dismiss="modal">An Giang</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bà Rịa-Vũng Tàu')"
												data-bs-dismiss="modal">Bà Rịa-Vũng Tàu</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bắc Giang')"
												data-bs-dismiss="modal">Bắc Giang</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bắc Kạn')"
												data-bs-dismiss="modal">Bắc Kạn</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bạc Liêu')"
												data-bs-dismiss="modal">Bạc Liêu</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bắc Ninh')"
												data-bs-dismiss="modal">Bắc Ninh</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bến Tre')"
												data-bs-dismiss="modal">Bến Tre</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bình Định')"
												data-bs-dismiss="modal">Bình Định</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bình Phước')"
												data-bs-dismiss="modal">Bình Phước</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Bình Thuận')"
												data-bs-dismiss="modal">Bình Thuận</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Cà Mau')"
												data-bs-dismiss="modal">Cà Mau</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Cao Bằng')"
												data-bs-dismiss="modal">Cao Bằng</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Đắk Lắk')"
												data-bs-dismiss="modal">Đắk Lắk</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Đắk Nông')"
												data-bs-dismiss="modal">Đắk Nông</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Điện Biên')"
												data-bs-dismiss="modal">Điện Biên</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Gia Lai')"
												data-bs-dismiss="modal">Gia Lai</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hà Giang')"
												data-bs-dismiss="modal">Hà Giang</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hà Nam')"
												data-bs-dismiss="modal">Hà Nam</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hà Tĩnh')"
												data-bs-dismiss="modal">Hà Tĩnh</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hải Dương')"
												data-bs-dismiss="modal">Hải Dương</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hòa Bình')"
												data-bs-dismiss="modal">Hòa Bình</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Hưng Yên')"
												data-bs-dismiss="modal">Hưng Yên</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Kon Tum')"
												data-bs-dismiss="modal">Khánh Hòa</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Lai Châu')"
												data-bs-dismiss="modal">Lai Châu</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Lâm Đồng')"
												data-bs-dismiss="modal">Lâm Đồng</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Kon Tum')"
												data-bs-dismiss="modal">Kon Tum</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Lào Cai')"
												data-bs-dismiss="modal">Lào Cai</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Long An')"
												data-bs-dismiss="modal">Long An</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Nam Định')"
												data-bs-dismiss="modal">Nam Định</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Nghệ An')"
												data-bs-dismiss="modal">Nghệ An</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Ninh Bình')"
												data-bs-dismiss="modal">Ninh Bình</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Ninh Thuận')"
												data-bs-dismiss="modal">Ninh Thuận</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Phú Thọ')"
												data-bs-dismiss="modal">Phú Thọ</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Quảng Bình')"
												data-bs-dismiss="modal">Quảng Bình</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Phú Yên')"
												data-bs-dismiss="modal">Phú Yên</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Quảng Nam')"
												data-bs-dismiss="modal">Quảng Nam</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Quảng Ngãi')"
												data-bs-dismiss="modal">Quảng Ngãi</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Kon Tum')"
												data-bs-dismiss="modal">Quảng Ninh</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Quảng Trị')"
												data-bs-dismiss="modal">Quảng Trị</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Sơn La')"
												data-bs-dismiss="modal">Sơn La</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Tây Ninh')"
												data-bs-dismiss="modal">Tây Ninh</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Thái Bình')"
												data-bs-dismiss="modal">Thái Bình</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Thái Nguyên')"
												data-bs-dismiss="modal">Thái Nguyên</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Thanh Hóa')"
												data-bs-dismiss="modal">Thanh Hóa</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Thừa Thiên Huế')"
												data-bs-dismiss="modal">Thừa Thiên Huế</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Tuyên Quang')"
												data-bs-dismiss="modal">Tuyên Quang</button></td>
													</tr>
													<tr>
														<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Vĩnh Long')"
												data-bs-dismiss="modal">Vĩnh Long</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Vĩnh Phúc')"
												data-bs-dismiss="modal">Vĩnh Phúc</button></td>
												<td><button
												style="width: 180px; height: 50px; margin-right: 3px;"
												class ="list-group-item list-group-item-action"
												type="button" ng-click="searchAddress('Yên Bái')"
												data-bs-dismiss="modal">Yên Bái</button></td>
												
													</tr>
												</tbody>
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3"></div>
					</div>
				</div>
			</div>
		</section>

		<h2 style="color: rgb(233, 64, 148); text-align: center;" class="mb-3">
			<strong>Tìm rạp chiếu phim Mama</strong>
		</h2>
		<div class="col-lg-12 row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6 row">
				 <button type="button" class="list-group-item button2 mr-2 ml-2 border" style="height: 150px;width: 430px;">
                <div class="row col-lg-12">
                    <div class="col-lg-3 ">
                        <a th:href="@{/CGV}"><img class="img-thumbnail" src="ShowtimeMovie/img/CGVlogo.jpg" alt=""
                                style="height: 60%;width: 100%;margin-top: 20px;"></a>
                    </div>
                    <div class="col-lg-9" style="text-align: left;">
                        <h5><strong style="color: rgb(245, 11, 167);">CGV</strong></h5>
                        <p>Hệ thống rạp phim lớn nhất Việt Nam</p>
                        <p><i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i class="bi bi-star-fill"
                                style="color: rgb(196, 196, 19);"></i><i class="bi bi-star-fill"
                                style="color: rgb(196, 196, 19);"></i><i class="bi bi-star-fill"
                                style="color: rgb(196, 196, 19);"></i><i class="bi bi-star-fill"
                                style="color: rgb(196, 196, 19);"></i></p>
                        
                    </div>
                </div>
              </button>				<button type="button" class="list-group-item button2 ml-2 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/Beta}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/LTlogo.png" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">Lotte Cinema</strong>
							</h5>
							<p>Hệ thống rạp phim từ Hàn Quốc</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
				<button type="button"
					class="list-group-item button2 mr-2 ml-2 mt-3 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/Galaxy Cinema}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/GLXlogo.webp" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">Galaxy Cinema</strong>
							</h5>
							<p>Mang Hollywood đến gần bạn</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
				<button type="button"
					class="list-group-item button2 ml-2 mt-3 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/BHD Star}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/BHDlogo.webp" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">BHD Star</strong>
							</h5>
							<p>Hệ thống rạp chiếu phim hiện đại</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
				<button type="button"
					class="list-group-item button2 mr-2 ml-2 mt-3 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/BHD Star}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/logoQT.png" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">Beta Cinemas</strong>
							</h5>
							<p>Rạp chiếu phim Beta Cinemas</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
				<button type="button"
					class="list-group-item button2 ml-2 mt-3 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/Cinestar}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/Cinestarlogo.webp" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">Cinestar</strong>
							</h5>
							<p>Hệ thống rạp phim giá rẻ,hiện đại bậc nhất</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
				<button type="button"
					class="list-group-item button2 mr-2 ml-2 mt-3 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/Mega GS}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/Megalogo.webp" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">Mega GS</strong>
							</h5>
							<p>Hệ thống rạp chiếu phim tiêu chuẩn quốc tế tại Việt Nam</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
				<button type="button"
					class="list-group-item button2 ml-2 mt-3 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/DCINE}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/DcineLogo.webp" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">DCINE</strong>
							</h5>
							<p>Rạp chiếu phim DCINE</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
				<button type="button"
					class="list-group-item button2 ml-2 mt-3 border"
					style="height: 150px; width: 430px;">
					<div class="row col-lg-12">
						<div class="col-lg-3 ">
							<a th:href="@{/Cinemax}"><img class="img-thumbnail"
								src="ShowtimeMovie/img/Cinemaxlogo.webp" alt=""
								style="height: 60%; width: 100%; margin-top: 20px;"></a>
						</div>
						<div class="col-lg-9" style="text-align: left;">
							<h5>
								<strong style="color: rgb(245, 11, 167);">Cinemax</strong>
							</h5>
							<p>Rạp chiếu phim đạt chuẩn quốc gia</p>
							<p>
								<i class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i><i
									class="bi bi-star-fill" style="color: rgb(196, 196, 19);"></i>
							</p>
						</div>
					</div>
				</button>
			</div>
			<div class="col-lg-3"></div>
		</div>
		</section>
		<hr>
		<section>
			<div class="col-lg-12 row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8 row ">
					<div class="col-lg-5">
						<h1 style="color: rgb(247, 96, 201);">Bạn hỏi , Ví MaMa trả
							lời</h1>
					</div>
					<div class="accordion accordion-flush col-lg-4 "
						id="accordionFlushExample">
						<div class="accordion-item" style="width: 200%;">
							<h2 class="accordion-header" id="flush-headingOne">
								<button class="accordion-button collapsed"
									data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
									aria-expanded="false" aria-controls="flush-collapseOne">
									Có thể mua vé xem phim trên những rạp nào trên Mama?</button>
							</h2>
							<div id="flush-collapseOne" class="accordion-collapse collapse"
								aria-labelledby="flush-headingOne"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Hiện tại bạn có thể đặt vé tại <strong><a href=""
										style="color: rgb(226, 86, 173);">rạp phim</a></strong> cũng như xem <strong><a
										href="" style="color: rgb(226, 86, 173);">lịch chiếu phim</a></strong>
									các rạp sau: CGV Cinemas, Lotte Cinema, Galaxy Cinema, BHD
									Star, Mega GS, Dcine, Cinestar. <strong><a href=""
										style="color: rgb(226, 86, 173);">Đặt vé xem phim ngay</a></strong>.
								</div>
							</div>
						</div>
						<div class="accordion-item" style="width: 200%;">
							<h2 class="accordion-header" id="flush-headingTwo">
								<button class="accordion-button collapsed" type="button"
									data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
									aria-expanded="false" aria-controls="flush-collapseTwo">
									Lợi ích của việc mua vé xem phim trên Mama?</button>
							</h2>
							<div id="flush-collapseTwo" class="accordion-collapse collapse"
								aria-labelledby="flush-headingTwo"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Nhanh chóng, trực quan không cần ra mua vé trực tiếp tại rạp.
									Tiết kiệm thời gian và tiện lợi. Có nhiều chương trình khuyến
									mãi với giá vé vô cùng hấp dẫn. <strong><a href=""
										style="color: rgb(226, 86, 173);">Mua vé xem phim ngay</a></strong>.
								</div>
							</div>
						</div>
						<div class="accordion-item" style="width: 200%;">
							<h2 class="accordion-header" id="flush-headingThree">
								<button class="accordion-button collapsed" type="button"
									data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
									aria-expanded="false" aria-controls="flush-collapseThree">
									Có thể mua vé xem phim kèm bắp nước hay không?</button>
							</h2>
							<div id="flush-collapseThree" class="accordion-collapse collapse"
								aria-labelledby="flush-headingThree"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">Hiện tại Ví MoMo có hỗ trợ mua
									bắp nước các cụm rạp CGV Cinemas, Lotte Cinema, BHD Star, Dcine
									ngay khi đặt vé. Nếu bạn muốn tăng size, đổi mùi vị bắp nước
									chỉ cần đến quầy và trả thêm tiền cho thu ngân. Bắp nước đã mua
									không hỗ trợ đổi trả.</div>
							</div>
						</div>
						<div class="accordion-item" style="width: 200%;">
							<h2 class="accordion-header" id="flush-headingFour">
								<button class="accordion-button collapsed" type="button"
									data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
									aria-expanded="false" aria-controls="flush-collapseFour">
									Mua vé xem phim tại Mama có đắt hơn mua trực tiếp tại rạp
									không?</button>
							</h2>
							<div id="flush-collapseFour" class="accordion-collapse collapse"
								aria-labelledby="flush-headingFour"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">Giá vé xem phim trên Ví MoMo
									không thu thêm phí dịch vụ và bán bằng giá tại rạp, nhưng luôn
									có CTKM vào các ngày trong tuần và cuối tuần để MoMo-er có thể
									mua với giá vé luôn tốt hơn khi mua trực tiếp tại rạp.</div>
							</div>
						</div>
						<div class="accordion-item" style="width: 200%;">
							<h2 class="accordion-header" id="flush-headingFire">
								<button class="accordion-button collapsed" type="button"
									data-bs-toggle="collapse" data-bs-target="#flush-collapseFire"
									aria-expanded="false" aria-controls="flush-collapseFire">
									Vé xem phim có được đổi trả,hoàn hủy không?</button>
							</h2>
							<div id="flush-collapseFire" class="accordion-collapse collapse"
								aria-labelledby="flush-headingFire"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Các vé xem phim khi tra cứu <strong><a href=""
										style="color: rgb(226, 86, 173);">lich chiếu phim</a></strong> tại Ví
									MoMo hiện tại không hỗ trợ đổi trả hay hoàn hủy vé.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="modal fade" id="exampleModal1" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg ">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title offset-lg-5" id="exampleModalLabel">Bản
								đồ</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div id="map-container-google-1"
								class="z-depth-1-half map-container"
								style="height: 600px; width: 600px;">
								<iframe
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.885881777047!2d106.61032627575189!3d10.743277759802854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752dcec1b9cb21%3A0xc76983f1bcfd1227!2sCGV%20Aeon%20Mall%20B%C3%ACnh%20T%C3%A2n!5e0!3m2!1svi!2s!4v1690734921208!5m2!1svi!2s"
									width="770" height="600" allowfullscreen="" loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
		</section>

		<script src="ShowtimeMovie/js/jquery-3.3.1.min.js"></script>
		<script src="ShowtimeMovie/js/bootstrap.min.js"></script>
		<script src="ShowtimeMovie/js/jquery.nice-select.min.js"></script>
		<script src="ShowtimeMovie/js/jquery.nicescroll.min.js"></script>
		<script src="ShowtimeMovie/js/jquery.magnific-popup.min.js"></script>
		<script src="ShowtimeMovie/js/jquery.countdown.min.js"></script>
		<script src="ShowtimeMovie/js/jquery.slicknav.js"></script>
		<script src="ShowtimeMovie/js/mixitup.min.js"></script>
		<script src="ShowtimeMovie/js/owl.carousel.min.js"></script>
		<script src="ShowtimeMovie/js/main.js"></script>
		<script src="ShowtimeMovie/js/jquery-2.1.0.min.js"></script>
		<script src="ShowtimeMovie/js/bootstrap.bundle.min.js"></script>
		<script src="ShowtimeMovie/js/angular-route.min.js"></script>
		<script src="ShowtimeMovie/js/angular.min.js"></script>
		<script src="ShowtimeMovie/js/jquery.min.js"></script>
		<script src="ShowtimeMovie/js/popper.min.js"></script>
		<script src="ShowtimeMovie/js/plugin.js"></script>

		<!-- Bootstrap -->
		<!-- javascript -->
		<script src="ShowtimeMovie/js/owl.carousel.js"></script>
		<script
			src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
		<script src="ShowtimeMovie/jss/owl-carousel.js"></script>
		<script src="ShowtimeMovie/jss/accordions.js"></script>
		<script src="ShowtimeMovie/jss/datepicker.js"></script>
		<script src="ShowtimeMovie/jss/scrollreveal.min.js"></script>
		<script src="ShowtimeMovie/jss/waypoints.min.js"></script>
		<script src="ShowtimeMovie/jss/jquery.counterup.min.js"></script>
		<script src="ShowtimeMovie/jss/imgfix.min.js"></script>
		<script src="ShowtimeMovie/jss/slick.js"></script>
		<script src="ShowtimeMovie/jss/lightbox.js"></script>
		<script src="ShowtimeMovie/jss/isotope.js"></script>
	</main>




</body>

</html>