<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/ShowtimeMovie/bootstrap-icons-1.10.3/bootstrap-icons.css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/ShowtimeMovie/css/style.css" type="text/css">
    <link rel="stylesheet" type="static/ShowtimeMovie/text/css" href="csss/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="csss/font-awesome.css">
    <link rel="stylesheet" href="static/ShowtimeMovie/csss/templatemo-hexashop.css">
    <link rel="stylesheet" href="static/ShowtimeMovie/csss/owl-carousel.css">

    <link href="static/ShowtimeMovie/cssr/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Lịch chiếu<i class="arrow_carrot-down"></i></a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">Phim đang chiếu</a></li>
                                    <li><a href="./shop-details.html">Phim sắp chiếu</a></li>

                                </ul>
                            </li>
                            <li><a href="./shop.html">Rạp chiếu<i class="arrow_carrot-down"></i></a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">CGV</a></li>
                                    <li><a href="./shop-details.html">Lotte Cinema</a></li>
                                    <li><a href="./shopping-cart.html">BHD Star</a></li>
                                    <li><a href="./checkout.html">Galaxy Cinema</a></li>
                                    <li><a href="./blog-details.html">Beta Cinemas</a></li>
                                    <li><a href="./blog-details.html">Cinestar</a></li>
                                    <li><a href="./blog-details.html">DCINE</a></li>
                                    <li><a href="./blog-details.html">Mega GS</a></li>
                                    <li><a href="./blog-details.html">Cinemax</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Phim chiếu</a>

                            </li>
                            <li><a href="./blog.html">Top phim</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    
    <script src="static/ShowtimeMovie/js/jquery-3.3.1.min.js"></script>
    <script src="static/ShowtimeMovie/js/bootstrap.min.js"></script>
    <script src="static/ShowtimeMovie/js/jquery.nice-select.min.js"></script>
    <script src="static/ShowtimeMovie/js/jquery.nicescroll.min.js"></script>
    <script src="static/ShowtimeMovie/js/jquery.magnific-popup.min.js"></script>
    <script src="static/ShowtimeMovie/js/jquery.countdown.min.js"></script>
    <script src="static/ShowtimeMovie/js/jquery.slicknav.js"></script>
    <script src="static/ShowtimeMovie/js/mixitup.min.js"></script>
    <script src="static/ShowtimeMovie/js/owl.carousel.min.js"></script>
    <script src="static/ShowtimeMovie/js/main.js"></script>
    <script src="static/ShowtimeMovie/js/jquery-2.1.0.min.js"></script>
    <script src="static/ShowtimeMovie/js/bootstrap.bundle.min.js"></script>
    <script src="static/ShowtimeMovie/js/angular-route.min.js"></script>
    <script src="static/ShowtimeMovie/js/angular.min.js"></script>
    <script src="static/ShowtimeMovie/js/jquery.min.js"></script>
    <script src="static/ShowtimeMovie/js/popper.min.js"></script>
    <script src="static/ShowtimeMovie/js/plugin.js"></script>

    <!-- Bootstrap -->
    <!-- javascript -->
    <script src="static/ShowtimeMovie/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="static/ShowtimeMovie/jss/owl-carousel.js"></script>
    <script src="static/ShowtimeMovie/jss/accordions.js"></script>
    <script src="static/ShowtimeMovie/jss/datepicker.js"></script>
    <script src="static/ShowtimeMovie/jss/scrollreveal.min.js"></script>
    <script src="static/ShowtimeMovie/jss/waypoints.min.js"></script>
    <script src="static/ShowtimeMovie/jss/jquery.counterup.min.js"></script>
    <script src="static/ShowtimeMovie/jss/imgfix.min.js"></script>
    <script src="static/ShowtimeMovie/jss/slick.js"></script>
    <script src="static/ShowtimeMovie/jss/lightbox.js"></script>
    <script src="static/ShowtimeMovie/jss/isotope.js"></script>

    <!-- Global Init -->
    <script src="static/ShowtimeMovie/jss/custom.js"></script>
</body>
</html>