<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="TopPhim/bootstrap-5.3.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="TopPhim/css/base.css">
    <title>Top Film</title>
    <script src="TopPhim/js/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <section class="myfooter bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="list-menu">
                        <b>Lịch chiếu phim</b>

                        <li class="li_menu"><a href="/" title="Trang chủ">Phim đang chiếu</a></li>
                        <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Phim sắp chiếu</a></li>

                    </ul>
                </div>
                <div class="col-md-2">

                    <ul class="list-menu">
                        <b>Blog điện ảnh</b>
                        <li class="li_menu"><a href="/" title="Trang chủ">Phim chiếu rạp</a></li>
                        <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Top phim</a></li>
                        <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Phim Netflix</a></li>

                    </ul>
                </div>
                <div class="col-md-2">

                    <ul class="list-menu">
                        <b>Rạp chiếu phim</b>
                        <li class="li_menu"><a href="/" title="Trang chủ">Phim chiếu rạp</a></li>
                        <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Top phim</a></li>
                        <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Phim Netflix</a></li>

                    </ul>
                </div>
                <div class="col-md-2">

                    <ul class="list-menu">
                        <b>Review phim</b>
                        <li class="li_menu"><a href="/" title="Trang chủ">Phim chiếu rạp</a></li>
                        <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Top phim</a></li>
                        <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Phim Netflix</a></li>

                    </ul>
                </div>

                <div class="col-md-4">
                    <ul class="list-menu">
                        <b>CHĂM SÓC KHÁCH HÀNG</b>
                        <li class="li_menu"><a href="#" title="Trang chủ">Địa chỉ: Tầng M, Tòa nhà Victory Tower, Số 12
                                Tân Trào,
                                Phường Tân Phú, Quận 7, Thành phố Hồ Chí Minh</a></li>
                        <li class="li_menu"><a href="/p/gioi-thieu.html" title="Giới thiệu">Hotline: 1900 5454 41 (1000
                                đ/phút)</a>
                        </li>
                        <li class="li_menu"><a href="/search/label/san-pham" title="Sản phẩm">Email: hotro@momo.vn</a>
                        </li>
                        <li class="li_menu"><a href="/search/label/tin-tuc" title="Tin mới nhất">Tổng đài gọi ra:
                                028.7306.5555 -
                                028.9999.5555</a></li>

                    </ul>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 py-2 text-end"><img src="TopPhim/images/logo.png" alt=""
                                style="max-height: 38px; max-width: 38px;"></div>
                        <div class="col-md-10"> Công Ty Cổ Phần Dịch Vụ Di Động Trực Tuyến (viết tắt M_Service)
                            Lầu 6, Toà nhà Phú Mỹ Hưng, số 8 Hoàng Văn Thái, khu phố 1, Phường Tân Phú, Quận 7, Thành
                            phố Hồ Chí Minh
                        </div>

                    </div>
                </div>
                <div class="col-md-4 text-end">
                    Chứng nhận bởi <br>
                    <img src="TopPhim/images/chungnhan.webp" alt="">
                </div>
            </div>
        </div>
    </section>
    <script src="bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js">

    </script>
</body>

</html>