<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<section class="myheader">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-6 text-end fs-3">
							<img src="images/logo.png" alt=""
								style="max-width: 40px; max-height: 40px;">
						</div>

						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6 fs-3"
									style="max-height: 38px; max-width: 38px;">
									<i class="fa-solid fa-video"></i>
								</div>
								<div class="col-md-6" style="color: #D81D8B; margin-left: 10px;">
									Đặt vé <br>xem phim
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<nav class="navbar navbar-expand-lg  ">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">

									<li class="nav-item dropdown"><a
										class="nav-link dropdown-toggle text-black" href="#"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
											lịch chiếu </a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Action</a></li>
											<li><a class="dropdown-item" href="#">Another action</a></li>
											<li>
												<hr class="dropdown-divider">
											</li>
											<li><a class="dropdown-item" href="#">Something else
													here</a></li>
										</ul></li>
									<li class="nav-item dropdown "><a
										class="nav-link dropdown-toggle text-black" href="#"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Rạp chiếu </a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Action</a></li>
											<li><a class="dropdown-item" href="#">Another action</a></li>
											<li>
												<hr class="dropdown-divider">
											</li>
											<li><a class="dropdown-item" href="#">Something else
													here</a></li>
										</ul></li>
									<li class="nav-item "><a class="nav-link text-black">Phim
											chiếu</a></li>
									<li class="nav-item "><a class="nav-link text-black"
										href="#">Review phim</a></li>
									<li class="nav-item "><a class="nav-link text-black"
										href="#">Top phim</a></li>
									<li class="nav-item dropdown "><a
										class="nav-link dropdown-toggle text-black" href="#"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Blog phim </a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Action</a></li>
											<li><a class="dropdown-item" href="#">Another action</a></li>
											<li>
												<hr class="dropdown-divider">
											</li>
											<li><a class="dropdown-item" href="#">Something else
													here</a></li>
										</ul></li>
									<li class="nav-item "><a class="nav-link text-black"
										href="#">Khuyến mãi</a></li>
								</ul>

							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- Bootstrap -->
	<!-- javascript -->
</body>
</html>