<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phim sắp chiếu</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div class="header-content">
            <div class="header-logo">
                <svg width="40" height="40" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="jsx-ddfb0b416b0db288 mx-auto block h-10 w-10">
                    <path
                        d="M0 8C0 3.58172 3.58172 0 8 0H64C68.4183 0 72 3.58172 72 8V64C72 68.4183 68.4183 72 64 72H8C3.58172 72 0 68.4183 0 64V8Z"
                        fill="#A50064" class="jsx-ddfb0b416b0db288"></path>
                    <path
                        d="M51.859 10C45.6394 10 40.5057 15.0349 40.5057 21.3533C40.5057 27.5729 45.5407 32.7065 51.859 32.7065C58.0786 32.7065 63.2123 27.6716 63.2123 21.3533C63.2123 15.1337 58.1774 10 51.859 10ZM51.859 26.1908C49.1935 26.1908 47.0215 24.0188 47.0215 21.3533C47.0215 18.6877 49.1935 16.5158 51.859 16.5158C54.5246 16.5158 56.6965 18.6877 56.6965 21.3533C56.6965 24.0188 54.5246 26.1908 51.859 26.1908Z"
                        fill="white" class="jsx-ddfb0b416b0db288"></path>
                    <path
                        d="M28.7576 10C26.8818 10 25.1048 10.5923 23.6239 11.6783C22.2418 10.5923 20.4648 10 18.4903 10C13.7515 10 10 13.8502 10 18.4903V32.7065H16.5158V18.4903C16.5158 17.4043 17.4043 16.6145 18.3915 16.6145C19.4775 16.6145 20.2673 17.503 20.2673 18.4903V32.7065H26.7831V18.4903C26.7831 17.4043 27.6716 16.6145 28.6589 16.6145C29.7448 16.6145 30.5346 17.503 30.5346 18.4903V32.7065H37.0504V18.589C37.2479 13.8502 33.4963 10 28.7576 10Z"
                        fill="white" class="jsx-ddfb0b416b0db288"></path>
                    <path
                        d="M51.859 37.6427C45.6394 37.6427 40.5057 42.6776 40.5057 48.996C40.5057 55.2156 45.5407 60.3492 51.859 60.3492C58.0786 60.3492 63.2123 55.3143 63.2123 48.996C63.2123 42.6776 58.1774 37.6427 51.859 37.6427ZM51.859 53.7347C49.1935 53.7347 47.0215 51.5628 47.0215 48.8972C47.0215 46.2317 49.1935 44.0598 51.859 44.0598C54.5246 44.0598 56.6965 46.2317 56.6965 48.8972C56.6965 51.6615 54.5246 53.7347 51.859 53.7347Z"
                        fill="white" class="jsx-ddfb0b416b0db288"></path>
                    <path
                        d="M28.7576 37.6427C26.8818 37.6427 25.1048 38.235 23.6239 39.321C22.2418 38.235 20.4648 37.6427 18.4903 37.6427C13.7515 37.6427 10 41.4929 10 46.133V60.3492H16.5158V46.0342C16.5158 44.9483 17.4043 44.1585 18.3915 44.1585C19.4775 44.1585 20.2673 45.047 20.2673 46.0342V60.2505H26.7831V46.0342C26.7831 44.9483 27.6716 44.1585 28.6589 44.1585C29.7448 44.1585 30.5346 45.047 30.5346 46.0342V60.2505H37.0504V46.133C37.2479 41.3942 33.4963 37.6427 28.7576 37.6427Z"
                        fill="white" class="jsx-ddfb0b416b0db288"></path>
                </svg>
                <div class="logo-item">
                    <img class="logo-img" src="https://homepage.momocdn.net/fileuploads/svg/momo-file-221117104714.svg"
                        alt="">
                    <div class="logo-text">Đặt vé xem phim</div>
                </div>
            </div>
            <div class="header-menu">
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Lịch chiếu</a>
                        <div class="item-navbar">
                            <a href="phimdangchieu.html" class="navbar-link">Phim đang chiếu </a>
                            <a href="phimsapchieu.html" class="navbar-link">Phim sắp chiếu</a>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Rạp chiếu</a>
                        <div class="item-navbar">
                            <a href="" class="navbar-link">CGV</a>
                            <a href="" class="navbar-link">Lotte Cinema</a>
                            <a href="" class="navbar-link">BHD Star</a>
                            <a href="" class="navbar-link">Galaxy Cinema</a>
                            <a href="" class="navbar-link">Beta Cinemas</a>
                            <a href="" class="navbar-link">Cinestar</a>
                            <a href="" class="navbar-link">DCINE</a>
                            <a href="" class="navbar-link">Mega GS</a>
                            <a href="" class="navbar-link">Cinemax</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Phim chiếu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Review Phim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Top Phim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Blog Phim</a>
                        <div class="item-navbar">
                            <a href="" class="navbar-link">Phim chiếu rạp</a>
                            <a href="" class="navbar-link">Tổng hợp phim</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Khuyến mãi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page">
        <svg width="13" height="13" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20"
            fill="currentColor">
            <path
                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
            </path>
        </svg> <img
            src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E"
            alt="">
        Cinema
        <img src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E"
            alt="">
        Phim đang chiếu
    </div>
    <div class="container">
        <div class="container-banner">
            <div class="banner-content">
                <div class="content-list">
                    <p class="list-heading">Phim sắp chiếu trên MoMo</p>
                    <div class="list-container">
                        <div class="list-item"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="jsx-e18afbcea943561a block shrink-0">
                                <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064"
                                    class="jsx-e18afbcea943561a fill-cus"></circle>
                                <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="jsx-e18afbcea943561a"></path>
                            </svg> <span class="list-text">Mua vé Online, trải nghiệm phim hay</span></div>
                        <div class="list-item"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="jsx-e18afbcea943561a block shrink-0">
                                <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064"
                                    class="jsx-e18afbcea943561a fill-cus"></circle>
                                <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="jsx-e18afbcea943561a"></path>
                            </svg><span class="list-text">Đặt vé an toàn trên MoMo</span></div>
                        <div class="list-item"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="jsx-e18afbcea943561a block shrink-0">
                                <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064"
                                    class="jsx-e18afbcea943561a fill-cus"></circle>
                                <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="jsx-e18afbcea943561a"></path>
                            </svg><span class="list-text">Tha hồ chọn chỗ ngồi, mua bắp nước tiện lợi.</span></div>
                        <div class="list-item"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="jsx-e18afbcea943561a block shrink-0">
                                <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064"
                                    class="jsx-e18afbcea943561a fill-cus"></circle>
                                <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="jsx-e18afbcea943561a"></path>
                            </svg><span class="list-text">Lịch sử đặt vé được lưu lại ngay</span></div>
                    </div>
                    <a href="" class="content-btn">Đặt vé ngay</a>
                </div>
                <img src="https://homepage.momocdn.net/img/momo-upload-api-210820192317-637650841971256881.jpg" alt=""
                    class="content-img">
            </div>
        </div>
        <div class="container-movies">
            <img src="https://homepage.momocdn.net/img/momo-upload-api-210701105436-637607336767432408.jpg" alt=""
                class="movies-img">
            <div class="movies-list">
                <h5 class="movies-heading">Phim đang chiếu</h5>
                <div class="movies-card">
                    <div class="card-movie">
                        <h1 class="movie-id">1</h1>
                        <svg class="play-icons" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                            class="jsx-314b02cb997a0a18">
                            <g fill="none" fill-rule="evenodd" class="jsx-314b02cb997a0a18">
                                <circle stroke="#FFF" stroke-width="2" fill-opacity=".24" fill="#000" cx="24" cy="24"
                                    r="23" class="jsx-314b02cb997a0a18"></circle>
                                <path
                                    d="M34.667 24.335c0 .515-.529.885-.529.885l-14.84 9.133c-1.08.704-1.965.182-1.965-1.153V15.467c0-1.338.884-1.856 1.968-1.153L34.14 23.45c-.002 0 .527.37.527.885Z"
                                    fill="#FFF" fill-rule="nonzero" class="jsx-314b02cb997a0a18"></path>
                            </g>
                        </svg>
                        <div class="movie-img">
                            <img class="img-title"
                                src="https://homepage.momocdn.net/cinema/s256x384/momo-upload-api-230712105543-638247561439931615.jpg"
                                alt="">
                        </div>
                        <div class="movie-name">Thám Tử Lừng Danh Conan 26: Tàu Ngầm Sắt Màu Đen</div>
                        <div class="movie-cartegory">Hoạt hình, hình sự</div>
                        <div class="start"><svg class="start-item" width="16" height="16"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true" class="mr-1 h-4 w-4 text-yellow-400">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                </path>
                            </svg>8.9</div>
                    </div>
                    <div class="card-movie">
                        <h1 class="movie-id">1</h1>
                        <svg class="play-icons" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                            class="jsx-314b02cb997a0a18">
                            <g fill="none" fill-rule="evenodd" class="jsx-314b02cb997a0a18">
                                <circle stroke="#FFF" stroke-width="2" fill-opacity=".24" fill="#000" cx="24" cy="24"
                                    r="23" class="jsx-314b02cb997a0a18"></circle>
                                <path
                                    d="M34.667 24.335c0 .515-.529.885-.529.885l-14.84 9.133c-1.08.704-1.965.182-1.965-1.153V15.467c0-1.338.884-1.856 1.968-1.153L34.14 23.45c-.002 0 .527.37.527.885Z"
                                    fill="#FFF" fill-rule="nonzero" class="jsx-314b02cb997a0a18"></path>
                            </g>
                        </svg>
                        <div class="movie-img">
                            <img class="img-title"
                                src="https://homepage.momocdn.net/cinema/s256x384/momo-upload-api-230712105543-638247561439931615.jpg"
                                alt="">
                        </div>
                        <div class="movie-name">Thám Tử Lừng Danh Conan 26: Tàu Ngầm Sắt Màu Đen</div>
                        <div class="movie-cartegory">Hoạt hình, hình sự</div>
                        <div class="start"><svg class="start-item" width="16" height="16"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true" class="mr-1 h-4 w-4 text-yellow-400">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                </path>
                            </svg>8.9</div>
                    </div>
                    <div class="card-movie">
                        <h1 class="movie-id">1</h1>
                        <svg class="play-icons" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                            class="jsx-314b02cb997a0a18">
                            <g fill="none" fill-rule="evenodd" class="jsx-314b02cb997a0a18">
                                <circle stroke="#FFF" stroke-width="2" fill-opacity=".24" fill="#000" cx="24" cy="24"
                                    r="23" class="jsx-314b02cb997a0a18"></circle>
                                <path
                                    d="M34.667 24.335c0 .515-.529.885-.529.885l-14.84 9.133c-1.08.704-1.965.182-1.965-1.153V15.467c0-1.338.884-1.856 1.968-1.153L34.14 23.45c-.002 0 .527.37.527.885Z"
                                    fill="#FFF" fill-rule="nonzero" class="jsx-314b02cb997a0a18"></path>
                            </g>
                        </svg>
                        <div class="movie-img">
                            <img class="img-title"
                                src="https://homepage.momocdn.net/cinema/s256x384/momo-upload-api-230712105543-638247561439931615.jpg"
                                alt="">
                        </div>
                        <div class="movie-name">Thám Tử Lừng Danh Conan 26: Tàu Ngầm Sắt Màu Đen</div>
                        <div class="movie-cartegory">Hoạt hình, hình sự</div>
                        <div class="start"><svg class="start-item" width="16" height="16"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true" class="mr-1 h-4 w-4 text-yellow-400">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                </path>
                            </svg>8.9</div>
                    </div>
                    <div class="card-movie">
                        <h1 class="movie-id">1</h1>
                        <svg class="play-icons" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                            class="jsx-314b02cb997a0a18">
                            <g fill="none" fill-rule="evenodd" class="jsx-314b02cb997a0a18">
                                <circle stroke="#FFF" stroke-width="2" fill-opacity=".24" fill="#000" cx="24" cy="24"
                                    r="23" class="jsx-314b02cb997a0a18"></circle>
                                <path
                                    d="M34.667 24.335c0 .515-.529.885-.529.885l-14.84 9.133c-1.08.704-1.965.182-1.965-1.153V15.467c0-1.338.884-1.856 1.968-1.153L34.14 23.45c-.002 0 .527.37.527.885Z"
                                    fill="#FFF" fill-rule="nonzero" class="jsx-314b02cb997a0a18"></path>
                            </g>
                        </svg>
                        <div class="movie-img">
                            <img class="img-title"
                                src="https://homepage.momocdn.net/cinema/s256x384/momo-upload-api-230712105543-638247561439931615.jpg"
                                alt="">
                        </div>
                        <div class="movie-name">Thám Tử Lừng Danh Conan 26: Tàu Ngầm Sắt Màu Đen</div>
                        <div class="movie-cartegory">Hoạt hình, hình sự</div>
                        <div class="start"><svg class="start-item" width="16" height="16"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true" class="mr-1 h-4 w-4 text-yellow-400">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                </path>
                            </svg>8.9</div>
                    </div>
                    <div class="card-movie">
                        <h1 class="movie-id">1</h1>
                        <svg class="play-icons" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                            class="jsx-314b02cb997a0a18">
                            <g fill="none" fill-rule="evenodd" class="jsx-314b02cb997a0a18">
                                <circle stroke="#FFF" stroke-width="2" fill-opacity=".24" fill="#000" cx="24" cy="24"
                                    r="23" class="jsx-314b02cb997a0a18"></circle>
                                <path
                                    d="M34.667 24.335c0 .515-.529.885-.529.885l-14.84 9.133c-1.08.704-1.965.182-1.965-1.153V15.467c0-1.338.884-1.856 1.968-1.153L34.14 23.45c-.002 0 .527.37.527.885Z"
                                    fill="#FFF" fill-rule="nonzero" class="jsx-314b02cb997a0a18"></path>
                            </g>
                        </svg>
                        <div class="movie-img">
                            <img class="img-title"
                                src="https://homepage.momocdn.net/cinema/s256x384/momo-upload-api-230712105543-638247561439931615.jpg"
                                alt="">
                        </div>
                        <div class="movie-name">Thám Tử Lừng Danh Conan 26: Tàu Ngầm Sắt Màu Đen</div>
                        <div class="movie-cartegory">Hoạt hình, hình sự</div>
                        <div class="start"><svg class="start-item" width="16" height="16"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true" class="mr-1 h-4 w-4 text-yellow-400">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                </path>
                            </svg>8.9</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-review">
            <h1 class="container-review-title">
                Review phim từ MoMo
            </h1>
            <div class="review-content">
                <div class="review-list">
                    <div class="review-item">
                        <img class="review-img"
                            src="https://cinema.momocdn.net/img/b178708a-2106-447e-b984-b9609d886a88-32329717452950876.jpg"
                            alt="">
                    </div>
                    <div class="review-item">
                        <img class="review-img"
                            src="	https://cinema.momocdn.net/img/86928996194348105-p9jmVtmm29dCHDHBFrOR6WNNaeO.jpg"
                            alt="">
                    </div>
                    <div class="review-items">
                        <div class="review-detail">
                            <img src="		https://homepage.momocdn.net/cinema/momo-upload-api-230525153955-638206259951368997.jpg"
                                alt="" class="detals-img">
                            <div class="review-name">Black Adam 2022 - Kẻ bất dung thứ đã được đánh thức tại DC Fandome
                                2021</div>
                        </div>
                        <div class="review-detail">
                            <img src="		https://homepage.momocdn.net/cinema/momo-cdn-api-220615142923-637909001637306000.jpg"
                                alt="" class="detals-img">
                            <div class="review-name">Black Adam 2022 - Kẻ bất dung thứ đã được đánh thức tại DC Fandome
                                2021</div>
                        </div>
                        <div class="review-detail">
                            <img src="		https://homepage.momocdn.net/cinema/momo-cdn-api-220615142923-637909001637306000.jpg"
                                alt="" class="detals-img">
                            <div class="review-name">Black Adam 2022 - Kẻ bất dung thứ đã được đánh thức tại DC Fandome
                                2021</div>
                        </div>
                        <div class="review-detail">
                            <img src="		https://cinema.momocdn.net/img/1869846491636635-dhfU1d6V25BGEHDAoPrERQFmsl2.jpg"
                                alt="" class="detals-img">
                            <div class="review-name">Black Adam 2022 - Kẻ bất dung thứ đã được đánh thức tại DC Fandome
                                2021</div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="review-btn"> <button class="btn-item">Xem tiếp nhé</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-list">
                <div class="footer-menu">
                    <ul class="menu-item">
                        <li class="menu-bottom">
                            <p class="bottom-text">
                                Lịch chiếu phim
                            </p>
                            <p class="menu-title"> <a href="" class="menu-link">Phim đang chiếu</a></p>
                            <p class="menu-title"><a href="" class="menu-link">Phim sắp chiếu</a></p>
                        </li>
                        <li class="menu-bottom">
                            <p class="menu-title"> <span class="bottom-text">
                                    Blog Phim
                                </span></p>
                            <p class="menu-title"> <a href="" class="menu-link">Phim chiếu rạp</a></p>
                            <p class="menu-title"> <a href="" class="menu-link">Tổng hợp phim</a></p>
                            <p class="menu-title"> <a href="" class="menu-link">Phim Netflix</a>
                            </p>



                        </li>
                        <li class="menu-bottom">
                            <p class="menu-title"> <span class="bottom-text">
                                    Review Phim
                                </span></p>
                            <p class="menu-title"><a href="" class="menu-link">Bình luận nổi bật</a></p>
                            <p class="menu-title"><a href="" class="menu-link">Review phim từ Momo</a></p>
                        </li>
                        <li class="menu-bottom">
                            <span class="bottom-text">
                                Rạp chiếu phim
                            </span>
                            <p class="menu-title"> <a href="" class="menu-link">CGV</a></p>
                            <p class="menu-title"><a href="" class="menu-link">Lotte Cinema</a></p>
                            <p class="menu-title"> <a href="" class="menu-link">BHD Star</a></p>
                            <p class="menu-title"> <a href="" class="menu-link">Galaxy Cinema</a></p>
                            <p class="menu-title"><a href="" class="menu-link">Beta Cinemas</a></p>
                            <p class="menu-title"> <a href="" class="menu-link">Cinestar</a></p>
                            <p class="menu-title"> <a href="" class="menu-link">DCINE</a></p>
                            <p class="menu-title"><a href="" class="menu-link">Mega GS</a></p>
                            <p class="menu-title"> <a href="" class="menu-link">Cinemax</a></p>
                        </li>
                    </ul>
                    <div class="footer-description">
                        <p class="description-heading">Chăm sóc khách hàng </p>
                        <p class="menu-address" class="description-address">Địa chỉ: Tầng M, Tòa nhà Victory Tower, Số
                            12 Tân Trào, Phường
                            Tân Phú, Quận 7, Thành phố Hồ Chí Minh</p>
                        <p class="menu-title">Hotline <span> 1900 5454 41 </span></p>
                        <p class="menu-title">Email <span> hotro@momo.vn </span></p>
                        <div class="description-img">
                            <img src="https://homepage.momocdn.net/img/momo-upload-api-210724113959-637627235994410679.jpg"
                                alt="" class="img-dow">
                            <img src="https://homepage.momocdn.net/img/momo-upload-api-210724113855-637627235353131497.jpg"
                                alt="" class="img-dow">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>